---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [5]:
import pandas as pd
import numpy as np

In [2]:
#Lookup Documentation
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

**How missing value is handled**

In [23]:
#Missing String value
animals = ['Tiger', 'Bear', None]
pd.Series(animals) #Convert to object datatype and None

0    Tiger
1     Bear
2     None
dtype: object

In [9]:
#Missing Numeric Value
numbers = [1, 2, None]
pd.Series(numbers) #Convert to float and NaN

0    1.0
1    2.0
2    NaN
dtype: float64

In [28]:
#NaN is NOT None
#NaN is a numeric form of None
np.nan == None

False

In [35]:
type(np.nan)

float

Check if is NaN

In [34]:
#Use np.isnan() to test
np.isnan(np.nan)

True

Pass index when creating Series

In [43]:
#Pass dict
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [41]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [44]:
#Specify a list of index
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [46]:
# When giving a dict and an index, index takes charge
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
#Only select given index, even empty
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [83]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [50]:
#defult index hidden but always exist
s.iloc[3]

'South Korea'

In [63]:
#index label
s.loc['Golf']

'Scotland'

In [84]:
#Auto-recognition of index input
s[3]

'South Korea'

In [ ]:
#Auto-recognition of label input
s['Golf']

In [85]:
#What if index and label are both int? 
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

try: 
    s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead
except KeyError:
    print("KeyError! Because unspecified slice only looks up labels, \
    if query and label are the same dtype ")

KeyError! Because unspecified slice only looks up labels,     if query and label are the same dtype

**3 ways to iterate Series**

In [97]:
s = pd.Series(np.arange(10))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [98]:
#Iterate through data - Traditional way
total = 0
for item in s:
    total+=item
print(total)

45

In [92]:
#Use numpy function to calculate
import numpy as np

total = np.sum(s) #Vectorization
print(total)

45

In [99]:
#Use pandas itself to calculate
s.sum() #Vectorization

45

In [100]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()#display first 5 element

0    477
1    577
2    681
3    864
4    550
dtype: int64

In [101]:
len(s)

10000

Use `%%timeit -n x` to run the cell x times and time the averge

In [104]:
%%timeit -n 100 #notebook magic run 100 times and time average
summary = 0
for item in s:
    summary+=item

1.55 ms ± 136 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [105]:
%%timeit -n 100
summary = np.sum(s)

129 µs ± 21.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [106]:
%%timeit -n 100
summary = s.sum() #fastest

83.9 µs ± 13.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**With broadcasting, you can apply an operation to every value in the series**

In [107]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    479
1    579
2    683
3    866
4    552
dtype: int64

Don't use unpacking in Series because it is very slow

In [111]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

624 ms ± 27.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Series supports elemental-wise calculation

In [110]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

466 µs ± 186 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [112]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears' #Create if non-exist
s

0             1
1             2
2             3
Animal    Bears
dtype: object

**Pandas allows replicate indexes**

In [113]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])

In [114]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [115]:
cricket_loving_countries #multiple same index

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

Use `foo.append(bar)`to concatenate series

In [120]:
#Use .append() to return a new series with appended data
all_countries = original_sports.append(cricket_loving_countries)

In [118]:
all_countries.loc['Cricket'] #returns another Series

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [ ]:
import pandas as pd

Create Dataframe from Series

In [127]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
purchase_1

Name                 Chris
Item Purchased    Dog Food
Cost                  22.5
dtype: object

`pd.DataFrame(data = list_of_array/list/Series, columns = column_index_if_not_labeled, index = row_index)`

In [128]:
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], \
                  index=['Store 1', 'Store 1', 'Store 2']) #row index

df#.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

*Note: use [ ] whenever refer to column lable, <br>use .loc [ ] or .iloc [ ] whenever for row.*

One row/column of a DF is a Series

In [129]:
#.loc[] for row - label selection
df.loc['Store 2'] #Singel row -->Returns a Series(1D)

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [130]:
#.iloc[] for row - index selection
df.iloc[2] == df.loc['Store 2']

Name              True
Item Purchased    True
Cost              True
Name: Store 2, dtype: bool

In [131]:
type(df.loc['Store 2'])

pandas.core.series.Series

**Index can be Non-unique**:

In [166]:
df.loc['Store 1'] #multiple row -->returns a DataFrame

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None

In [133]:
#Direct Selelction 
df.loc['Store 1', 'Cost']# support change of data

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [134]:
#Chaining selection, used with caution!
df.loc['Store 1']['Cost'] #return a copy of data

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [135]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [136]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [137]:
#Indexing operator exclusively for column selection.
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [138]:
#Slicing
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [139]:
#remove data
df.drop('Store 1') #default axis=0, return a copy

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [140]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [145]:
copy_df = df.copy()
copy_df.drop('Cost', axis = 1, inplace = True)
copy_df

          Name Item Purchased
Store 1  Chris       Dog Food
Store 1  Kevyn   Kitty Litter
Store 2  Vinod      Bird Seed

In [ ]:
copy_df.drop?

In [146]:
del copy_df['Name'] #Delete the reference
copy_df

        Item Purchased
Store 1       Dog Food
Store 1   Kitty Litter
Store 2      Bird Seed

In [150]:
#Change / add data
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

*Note: use [ ] whenever refer to column lable, <br>use .loc [ ] or .iloc [ ] whenever for row.*

# Dataframe Indexing and Loading

**Pay Attention to Pointers**

In [169]:
#Pointers
costs = df['Cost'] #change in costs changes df['Cost']

#if we don't want to affect original data
costs = df.copy()['Cost']

costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [170]:
costs+=2 #df['Cost'] is changed at same time
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [171]:
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

## Load Data

`!` precedes a shell command

In [172]:
#Preview a file using !cat file

!cat olympics.csv #concatenate olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [ ]:
#option1 : 
#open file, use csv to read into dict, pass dict to DataFrame:
import csv
with open('olympics.csv') as csvfile:
    record_dict = list(csv.DictReader(csvfile))
record = pd.DataFrame(record_dict)#each dict form a Series 
record_dict 
record

In [ ]:
#better option 2:
#Use Pandas's .read_csv() to read csv into a DataFrame
df = pd.read_csv('olympics.csv')
df

In [ ]:
#the datatype of column and row index
print(df.columns) #columns index is str, specified by first line of .csv file
print(df.index) #row index is auto-generated integer, based on number of lines

**Specify some parameter to make better table**

In [ ]:
#index_col: select which column as index (default None)
df = pd.read_csv('olympics.csv', index_col = 0)
df.head()

In [ ]:
#skiprows to change row label
df = pd.read_csv('olympics.csv', index_col = 0, \
                skiprows = 1) #skip 1 row (Index 2nd row)
df.head()

In [ ]:
#Examine the column index and we find some problem:
df.columns

#Pandas read unicode as x! and sufix .1, .2 to make them unique

In [ ]:
#df.rename(columns/index = {old_index_name: new_index_name})
old = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print('old_df: \n', old)
new = old.rename(index=str, columns={"A": "a", "B": "c"})
print('old_df: \n', new)

In [ ]:
#Manually refine the column index

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

**Understand Boolean Masking**

To build a Boolean mask for this query, we project the gold column using the indexing operator and apply the greater than operator with a comparison value of zero. This is essentially broadcasting a comparison operator, greater than, with the results being returned as a Boolean series.

In [ ]:
#broadcasting and creating boolean mask
df['Gold'] > 0

.`where(mask)`takes a Boolean mask as a condition, applies it to the data frame or series, and returns a new data frame or series of the same shape.

In [ ]:
only_gold = df.where(df['Gold'] > 0) #Same shape with NaN for inelgible data
only_gold.head()

In [ ]:
#Most function igonores NaN
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
# Use .dropna() to drop NaN data
only_gold = only_gold.dropna() #axis = 0 by default
only_gold.head()

In [ ]:
#Shortcuts for where & drop
only_gold = df[df['Gold'] > 0]#df[[False, True, True..]]
only_gold.head()

In [ ]:
#two Boolean masks being compared --> another Boolean mask
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]) #OR

In [ ]:
#Underlying concept
pd.Series([True, False]) | pd.Series(([False, True]))# wrap mask in( ) for order of comparison)

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)] #AND

Example:<br>Write a query to return all of the names of people who bought products worth more than $3.00.

In [ ]:

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], \
                  index=['Store 1', 'Store 1', 'Store 2'])

In [ ]:
#Option 1
mask = df['Cost'] > 3.0
df = df.where(mask)
df = df.dropna()
df['Name']

In [ ]:
#option 2
df[df['Cost'] > 3]['Name'] #mask, then select
#or,
df['Name'][df['Cost'] > 3] # select, then mask

# Indexing Dataframes

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows = 1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

In [ ]:
df['country'] = df.index #create new column 'country', and assign the value
country_index = df.index

In [ ]:
df = df.set_index('Gold') #select 'Gold' as index
df.head() #old index is lost, unless saved before
#New index has the index name

In [ ]:
print(df)

In [ ]:
df = df.reset_index() #Move index back as a colunm, leaving auto index only
df.head()

In [ ]:
#to recover the index 
df.set_index('country', inplace = True) #Use one the column
#or,
df.set_index(country_index, inplace = True) #Use an external list

**Multi-level Indexing**

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
#Examine the scope of data
df['SUMLEV'].unique() #or set(df['SUMLEV'])

In [ ]:
df=df[df['SUMLEV'] == 50] #filter shorcuts 
df.head()

In [ ]:
#Reduce to our interested data
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
#Multi-level indexing --> GROUP BY 
df = df.set_index(['STNAME', 'CTYNAME'])#Group by State, and then City
df.head()

In [ ]:
#Query multi-level index
df.loc['Michigan', 'Washtenaw County']#[level 0, level 1, ..]
#or, 
df.loc[('Michigan', 'Washtenaw County')]

In [ ]:
#Query multiple multi-indexes
df.loc[[('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')]] #double []

In [ ]:
#Select / change multi-level index element
print(df.index) #examine the data type: (n,2)
df.index[:][1] #all rows, and their 2nd-level index

Example: <br>Reindex the purchase records DataFrame to be indexed hierarchically, first by store, then by person. Name these indexes 'Location' and 'Name'. Then add a new entry to it with the value of:

Name: 'Kevyn', Item Purchased: 'Kitty Food', Cost: 3.00 Location: 'Store 2'.

In [ ]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

eg = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
eg

In [ ]:
#Solution:
eg = eg.set_index([eg.index, 'Name']) #Set index
eg

In [ ]:
#Name index (inplace)
eg.index.names = ['Location', 'Name'] #Inplace, []or()or naked
#or
eg = eg.rename_axis(['Location', 'Name']) #returns new
#eg.index.names = ('Location', 'Name')#works
#eg.index.names = 'Location', 'Name' #works 
print(eg.index)
eg.index[1][0] #[rowindex][index level]

In [ ]:
#Append New Series to existing DataFrame
eg = eg.append(pd.Series(data = {'Cost':3.00, 'Item Purchased': 'Kitty Food'}, \
                        name = ('Store 2', 'Kevyn'))) # name = (level 1, leve 2,..) 
eg

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
#Sort by value
df.sort_values(by = 'time', axis = 0, ascending = True) #sort by 'time'

In [ ]:
#sort by index
df = df.set_index('time')#set 'time' as index
df = df.sort_index() #sort by 'time'
df

In [ ]:
df.set_index('user')

In [ ]:
#Reset index before set new index, otherwise will lose old 
df = df.reset_index() #Put old index back as a column
df = df.set_index(['time', 'user']) #Set whatever index
df

In [ ]:
#Use .fillna() to fill all NaN and None
df = df.fillna(method='ffill') #fill value one row above
df.head()

#can also fill with same length Series