## Create, Modify Series and DataFrame

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#Series is in fact a row, 
#but displays vertically

In [89]:
#creat a Series from list, or nparray

#they do not come with index, 
#so we use index = [] to label each element in order

s1 = pd.Series(np.random.rand(9),\
          index =  np.arange(100,109,1), \
              name = 'Series from List1')

s1

100    0.448979
101    0.479664
102    0.368682
103    0.326850
104    0.995927
105    0.575048
106    0.862991
107    0.898939
108    0.254991
Name: Series from List1, dtype: float64

In [105]:
#creat a Series from dict

#Series always take 1 dict,
#Index is pre-defined by the key

dict2 = dict()
for i in range(9):
    dict2[i] = np.random.rand(1)[0] 
s2 = pd.Series(dict2, \
              name = 'Series from Dict2')

#We can name/ renames the index itself
s2.index.rename('Index name != index label')

#We can re-label each element
s2.index = np.arange(100, 109)
s2

100    0.324077
101    0.156072
102    0.467992
103    0.628837
104    0.062562
105    0.205122
106    0.568429
107    0.629431
108    0.826186
Name: Series from Dict2, dtype: float64

In [117]:
# Series with netted element
dict3 = dict()
for i in range(9):
    dict3[i] = [np.random.randint(10),np.random.randint(100)]
s3 = pd.Series(dict3, \
              name = 'Series from Dict3 ')
s3.index = np.arange(100, 109)
s3

100    [4, 81]
101     [2, 7]
102    [8, 50]
103    [3, 80]
104    [1, 68]
105    [1, 65]
106    [9, 62]
107    [1, 15]
108    [8, 83]
Name: Series from Dict3 , dtype: object

In [108]:
#Created DataFrame from Series* Avoid!

#If only a single Series, and without []
pd.DataFrame(s1)

#Breaks the single Series down to elements, 
#each element becomes a row
#still DataFrame

     Series from List1
100           0.448979
101           0.479664
102           0.368682
103           0.326850
104           0.995927
105           0.575048
106           0.862991
107           0.898939
108           0.254991

In [71]:
#Created DataFrame from Series in []

#1 single Series, in []
pd.DataFrame([s1])

#Each Series is one row
#Series name --> Row index
#Series labels --> Column names

,100,101,102,103,104,105,106,107,108
Series from List,0.941237,0.342946,0.931147,0.242531,0.764405,0.053678,0.948108,0.625097,0.800521

In [116]:
#Created DataFrame from Series in []

#Multiple Series, in []
pd.DataFrame([s1, s2])

#Each Series is one row
#Series name --> Row index
#Series labels --> Column names

#Auto-Match column names

,100,101,102,103,104,105,106,107,108
Series from List1,0.448979,0.479664,0.368682,0.326850,0.995927,0.575048,0.862991,0.898939,0.254991
Series from Dict2,0.324077,0.156072,0.467992,0.628837,0.062562,0.205122,0.568429,0.629431,0.826186

In [145]:
#Create DataFrame from Dict in []

#Every dict in [] is a row, every key is column index
#dict2[0] = dict2.pop(99)
#Dict have no name, we can define row name using index=[]
df3 = pd.DataFrame([dict2, dict3], index=['Dict2', 'Dict3'])

#Assign a same-length column names: 
df3.columns = np.arange(100,109) 
#Rename a specific column/row name
df3.rename(columns = {100: 99, 101: 999}, \
           index = {'Dict2': '2ndDict'})

,99,999,102,103,104,105,106,107,108
2ndDict,0.324077,0.156072,0.467992,0.628837,0.062562,0.205122,0.568429,0.629431,0.826186
Dict3,"[4, 81]","[2, 7]","[8, 50]","[3, 80]","[1, 68]","[1, 65]","[9, 62]","[1, 15]","[8, 83]"

In [193]:
#Add, append element to Series

s1 = pd.Series(np.random.rand(9),\
          index =  np.arange(100,109,1), \
              name = 'Series from List1')


#Use index to easily add a new element
s1['Indexing'] = 'add'
s1.loc['Another Indexing'] = 'Add'

#Append existing Series, or Series being created by dict

s1 = s1.append(pd.Series({'append': 'Dict-like', 'Append' : 'Many Series'}))

#Series can only be appended by Series, or DataFrame

s1

100                    0.260192
101                   0.0549113
102                    0.499205
103                    0.716326
104                    0.510905
105                    0.840614
106                    0.965334
107                    0.904184
108                    0.643837
Indexing                    add
Another Indexing            Add
append                Dict-like
Append              Many Series
dtype: object

In [194]:
#Drop from a Series

s1 = s1.drop(index = ['Indexing', 'Another Indexing'])
s1 = s1.drop(['append', 'Append'], axis = 0)
s1

100     0.260192
101    0.0549113
102     0.499205
103     0.716326
104     0.510905
105     0.840614
106     0.965334
107     0.904184
108     0.643837
dtype: object

In [244]:
#Add or append to DataFrame
df3 = pd.DataFrame([dict2, dict3], index=['Dict2', 'Dict3'])
df3.columns = np.arange(100,109)

#Add by indexing 
#create a new column if non-existing. 
#NOT work for new row
df3[df3.columns[0]].loc['Dict2'] = 'AddHere' 
df3.loc[:, 99] = ['AddThere', 'AddAnywhere']

#Add a row by appending Series
#if append(ignore_index=True) or if the Series has a name
df3.append(pd.Series(dict2, name = 'AnySeries'),ignore_index =False)

#Add or fill a row by appending Series with data and name
df3.append(pd.Series(data={100: 'Specified', 101:'Values'}, name='AnySeries'))

,100,101,102,103,104,105,106,107,108,99
Dict2,AddHere,0.156072,0.467992,0.628837,0.062562,0.205122,0.568429,0.629431,0.826186,AddThere
Dict3,"[4, 81]","[2, 7]","[8, 50]","[3, 80]","[1, 68]","[1, 65]","[9, 62]","[1, 15]","[8, 83]",AddAnywhere
AnySeries,Specified,Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
#Add by assign 

df3 = pd.DataFrame([dict2, dict3], index=['Dict2', 'Dict3'])
df3.columns = np.arange(100,109)

df3.assign(Assign_Array = [1,2]) #same_length array, 
df3.assign(Assgn_Function = lambda x: df3[100]*2) #or callable

,100,101,102,103,104,105,106,107,108,Assgn_Function
Dict2,0.324077,0.156072,0.467992,0.628837,0.062562,0.205122,0.568429,0.629431,0.826186,0.648153
Dict3,"[4, 81]","[2, 7]","[8, 50]","[3, 80]","[1, 68]","[1, 65]","[9, 62]","[1, 15]","[8, 83]","[4, 81, 4, 81]"